.cardsContainer {
	justify-content: safe center;
	text-align: center;
	align-items: center;
	margin: 10px;
	display: grid;
	grid-template-rows: 3fr 1fr 2fr;
	grid-template-columns: 1fr;
}

.cardsContainer img {
	justify-self: center;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.cardsContainer h3 {
	letter-spacing: 1px;
}

.cardsContainer p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.cardsContainer a {
	display: block;
	text-decoration: underline;
}

.cardsContainer a:visited {
	text-decoration: underline;
	cursor: pointer;
}

.cardsContainer button {
	width: 50%;
	justify-self: center;
	text-decoration: none;
	border: none;
	color: whitesmoke;
	background-color: #333;
	padding: 10px;
}

.cardsContainer button:hover {
	opacity: 0.5;
}

.cardsContainer ul {
	margin-top: 0;
}

@media only screen and (max-width: 820px) {
	.cardsContainer {
		overflow: visible;
	}

	.cardsContainer button {
		width: 100%;
	}
}

@media only screen and (max-width: 820px) and (max-height: 400px) {
	.cardsContainer {
		overflow: visible;
	}
}
