.contactContainer {
	margin-top: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	/* align-content: space-between; */
	/* justify-content: space-between */
	/* align-items: center; */
	justify-items: center;
}

.contactContainer img:hover {
	opacity: 0.5;
}
