.navigation {
	position: sticky;
	left: 0;
	top: 0;
	transition: 2 s;
	z-index: 1;
}

.navigation h3,
span {
	display: inline;
}
.navigation h3 {
	margin: 0;
}
.navigation ul {
	margin-top: 0;
	list-style: none;
	padding: 0;
}

.navigation button {
	border: none;
	background: none;
	color: whitesmoke;
	font-size: 20px;
	cursor: pointer;
}
.navAnchor {
	text-decoration: none;
	color: whitesmoke;
}
.navAnchor:hover::before {
	content: "chris@developer:";
	color: rgb(25, 197, 25);
}
.navAnchor:hover::after {
	content: "$";
}

.navAnchor:hover {
	border-right: solid 4px rgb(25, 197, 25);
	animation: animated-cursor 1000ms steps(29, end) infinite;
}

.navAnchor:active::before {
	content: "chris@developer:";
	color: rgb(25, 197, 25);
}
.navAnchor:active::after {
	content: "$";
}

.navAnchor:active {
	border-right: solid 4px rgb(25, 197, 25);
	animation: animated-cursor 1000ms steps(29, end) infinite;
}

/* green cursor animation */

@keyframes animated-cursor {
	from {
		border-right-color: rgb(25, 197, 25);
	}
	to {
		border-right-color: transparent;
	}
}

/* Active link styling */
.activeLink {
	text-decoration: none !important;
	color: whitesmoke;
}
.activeLink::before {
	content: "chris@developer:";
	color: rgb(25, 197, 25);
}

.activeLink::after {
	content: "$";
}

.activeLink a,
a:visited {
	text-decoration: none;
	color: whitesmoke;
}

/* Mobile navigation */
@media only screen and (max-width: 820px) {
	.navigation {
		position: fixed;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"navtop"
			"navbottom";
		/* background-color: #333; */
		background-color: #373b44;
		width: 100%;
	}

	.navigation h3,
	span {
		grid-area: "navtop";
	}
	.navigation ul {
		display: flex;
		justify-content: space-around;
	}
	.navigation li {
		grid-area: "navbottom";
		display: inline;
		justify-content: space-between;
	}
}
